<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<!-- Keep only components that are not in the publish folder (e.g. an explicit Dependencies folder) -->
		<ComponentGroup Id="DependencyComponents" Directory="DependenciesFolder">
			<Component Id="FFmpegExe" Guid="*">
				<File Id="FFmpegExeFile" Source="Dependencies\ffmpeg.exe" KeyPath="yes" />
			</Component>
			<Component Id="FFprobeExe" Guid="*">
				<File Id="FFprobeExeFile" Source="Dependencies\ffprobe.exe" KeyPath="yes" />
			</Component>
			<Component Id="FFplayExe" Guid="*">
				<File Id="FFplayExeFile" Source="Dependencies\ffplay.exe" KeyPath="yes" />
			</Component>

			<Component Id="AvCodec" Guid="*">
				<File Id="AvCodecDll" Source="Dependencies\avcodec-61.dll" KeyPath="yes" />
			</Component>
			<Component Id="AvDevice" Guid="*">
				<File Id="AvDeviceDll" Source="Dependencies\avdevice-61.dll" KeyPath="yes" />
			</Component>
			<Component Id="AvFilter" Guid="*">
				<File Id="AvFilterDll" Source="Dependencies\avfilter-10.dll" KeyPath="yes" />
			</Component>
			<Component Id="AvFormat" Guid="*">
				<File Id="AvFormatDll" Source="Dependencies\avformat-61.dll" KeyPath="yes" />
			</Component>
			<Component Id="AvUtil" Guid="*">
				<File Id="AvUtilDll" Source="Dependencies\avutil-59.dll" KeyPath="yes" />
			</Component>
			<Component Id="PostProc" Guid="*">
				<File Id="PostProcDll" Source="Dependencies\postproc-58.dll" KeyPath="yes" />
			</Component>
			<Component Id="SwResample" Guid="*">
				<File Id="SwResampleDll" Source="Dependencies\swresample-5.dll" KeyPath="yes" />
			</Component>
			<Component Id="SwScale" Guid="*">
				<File Id="SwScaleDll" Source="Dependencies\swscale-8.dll" KeyPath="yes" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>